.confirmation{
    &__image{
        height: 100%;
        width: 100%;
    }
    &__fields{
        margin-top: 20px;
        margin-left: 22px;
        @include media-breakpoint-up(md){
            margin-left: 45px;
        }
        @include media-breakpoint-up(lg){
            margin-left: 115px;
        }
        @include media-breakpoint-up(lg){
            margin-left: 155px;
        }
    }
}
